body {
  background: #b2cccc;
  margin: 20px auto;
}

#root {
  position: relative;
  list-style: none;
  width: 300px;
  min-height: 100px;
  margin-top: 5rem;
  margin: 30px auto;
  padding: 20px 15px 15px 15px;
  background: #fff url(https://our.fogbugz.com/images/tbKiwiLogo.gif) no-repeat
    4px 8px;
  box-shadow: 8px 3px 8px #000;
  text-align: left;
  font-size: 2em;
  font-family: "Reenie Beanie", cursive;
  color: #000;
  overflow: hidden;
  /*transform:rotate(2deg);*/
  position: relative;
  top: -10px;
  transform: rotate(1deg);
  top: 5px;
}

#root:hover {
  transform: scale(1.25);
}

.pin {
  position: absolute;
  right: 38rem;
  top: 1.8em;
  height: 4em;
}
